*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--neutral-200); /* #f5f5f5 */
  color: #111111;
  width: 100%;
}

.page {
  min-height: 100vh;
}

.im-container {
  max-width: 1320px;
  margin: 0 auto;
}
